$body-color: #414447;
$link-color: #fc4c00;
$gray: #414447;
$light-gray: #93deb8;
$inlay-gray: #e5e5e5;
$light-green: #74d8a9;

a,
a:focus,
a:hover {
  color: $link-color;
}

.btn {
  color: $link-color;
  padding: 16pt 20pt;
  border: 2px solid $link-color;
}
