@import 'sass/components/bootstrap';

body {
  font-weight: bold;
  font-family: Lato;
}

html {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

p {
  font-weight: 400;
}

@import 'sass/theme';
@import 'sass/fonts';
@import 'sass/ui_utils';
@import 'sass/components/nav';
@import 'sass/components/footer';
@import 'sass/pages/pages';
@import 'sass/pages/groups';
@import 'sass/pages/about';
@import 'sass/pages/volunteering';
