body {
  font-weight: bold; }

a {
  color: #fc4c00; }

.btn {
  color: #fc4c00;
  padding: 16pt 20pt;
  border: 2px solid #fc4c00; }

.italic {
  font-style: italic; }

.bold {
  font-weight: 700; }

h1 {
  font-family: Cardo, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 50pt;
  letter-spacing: 0;
  text-transform: uppercase; }

h2 {
  font-family: Cardo, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 36pt;
  letter-spacing: 0; }

h3 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 22pt;
  letter-spacing: 100;
  text-transform: uppercase; }

.time {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 40pt;
  letter-spacing: 50;
  text-transform: uppercase; }
  .time .meridiem {
    font-size: 32pt; }

.title-1 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18pt;
  font-style: italic;
  letter-spacing: 20; }

.title-2 {
  font-family: Cardo, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18pt; }

.title-3 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 14pt;
  letter-spacing: 150;
  text-transform: uppercase; }

.title-4 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-weight: 700;
  font-size: 14pt;
  letter-spacing: 20; }

.title-5 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12pt;
  letter-spacing: 120;
  text-transform: uppercase; }

a,
.link {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 12pt;
  letter-spacing: 120;
  text-transform: uppercase; }

.body1 {
  font-family: Cardo, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 22pt; }

.body2 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 15pt; }

.body3 {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 13pt;
  letter-spacing: 20; }

.spacer-20 {
  display: block;
  height: 20px; }

.pad-both-20 {
  padding: 20px 0; }

.pad-top-20 {
  padding-top: 20px; }

.pad-bottom-20 {
  padding-bottom: 20px; }

.spacer-40 {
  display: block;
  height: 40px; }

.pad-both-40 {
  padding: 40px 0; }

.pad-top-40 {
  padding-top: 40px; }

.pad-bottom-40 {
  padding-bottom: 40px; }

.spacer-60 {
  display: block;
  height: 60px; }

.pad-both-60 {
  padding: 60px 0; }

.pad-top-60 {
  padding-top: 60px; }

.pad-bottom-60 {
  padding-bottom: 60px; }

.spacer-80 {
  display: block;
  height: 80px; }

.pad-both-80 {
  padding: 80px 0; }

.pad-top-80 {
  padding-top: 80px; }

.pad-bottom-80 {
  padding-bottom: 80px; }

.spacer-100 {
  display: block;
  height: 100px; }

.pad-both-100 {
  padding: 100px 0; }

.pad-top-100 {
  padding-top: 100px; }

.pad-bottom-100 {
  padding-bottom: 100px; }

.spacer-140 {
  display: block;
  height: 140px; }

.pad-both-140 {
  padding: 140px 0; }

.pad-top-140 {
  padding-top: 140px; }

.pad-bottom-140 {
  padding-bottom: 140px; }

.divider-1 {
  background: #61d6a1;
  display: block;
  height: 2px;
  width: 100px; }

.divider-2 {
  background: #61d6a1;
  display: block;
  height: 1px;
  width: 40px; }
