.site-footer {
  $footer-color: #f2f3f4;

  .navbar {
    background: #414447;
    color: $footer-color;
    padding: 60px 0;
  }

  strong {
    @include lato;

    color: $footer-color;
    font-weight: 600;
    text-transform: uppercase;
  }

  a {
    color: $footer-color;
  }

  li a {
    color: #e8e9ea;
    text-transform: none;
  }

  .navbar {
    @media (max-width: 543px) {
      margin-bottom: 20px;

      a {
        display: block;
      }
    }
  }

  .navbar-nav .nav-item {
    float: none;
    margin: 10px 0 0;
  }

  .aside-content {
    border-left: 1px solid #5f6264;
    padding-left: 30px;
    // So that the border aligns with the
    // bottom of the text.
    max-height: 152px;

    .row {
      margin-bottom: 30px;
    }

    .social-links {
      // font-size: 2px;
    }

    .service-times {
      strong {
        text-transform: initial;
      }
    }

    p {
      font-weight: 400;
    }

    @media (max-width: 543px) {
      padding-top: 20px;
      border-left: 0;

      // &:before {
      //   content: "";
      //   border-top: 1px solid #5f6264;
      // }
    }
  }
}