.site-footer {
  $footer-color: #f2f3f4;

  .navbar {
    background: #414447;
    color: $footer-color;
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 3;
  }

  strong {
    @include lato(700);

    color: $footer-color;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }

  a {
    color: $footer-color;
  }

  li a {
    color: #e8e9ea;
    font-size: 15px;
    font-weight: 300;
    text-transform: none;
  }

  .navbar {
    border-radius: 0;

    @media (max-width: 543px) {
      a {
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  .navbar-nav .nav-item {
    float: none;
    margin: 10px 0 0;
  }

  .aside-content {
    .row {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: 34em) {
      max-height: 200px;
    }

    .service-times {
      strong {
        text-transform: initial;
      }
    }

    p {
      font-weight: 400;
    }
  }
}