// Bootstrap overrides
.modal {
  .modal-header {
    border: 0;

    &:after {
      content: "";
      background: #61d6a1;
      display: block;
      height: 2px;
      position: relative;
      top: 26px;
      width: 100px;
    }
  }

  .modal-title {
    float: left;
  }

  .modal-content {
    padding: 2rem 0;
    border: 0;
    border-radius: 0;
  }
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;

    .modal-content {
      padding: 2rem 2rem;
    }
  }
}
