#site-navigation {
  // Container div

  padding-left: 80px;
  padding-right: 80px;

  @media (max-width: 1276px) {
    padding: .5rem 1rem;

    .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
      margin-right: 20px;
    }
  }

  a,
  a:hover,
  a:focus {
    color: #414447;
    text-transform: none;
  }

  .giving-item {
    a {
      color: #77d9aa;
      text-transform: uppercase;
    }
  }

  .navbar-brand {
    margin-top: 18px;
    margin-right: 0 !important;

    img {
      width: 70px;
    }

    @media (max-width: 34em) {
      float: right;
      margin-top: 10px;
      width: 50px;
    }
  }

  .nav.navbar-nav {
    // Nav section w/ links

    margin-top: 18px;
    padding: 0 30px 0 0;

    li {
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 48em) {
        margin-right: 0;
        display: block;
        float: none;
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
  }

  // Dropdown arrow
  .dropdown-toggle::after {
    margin-left: .6rem;

    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    border: 0;
    vertical-align: initial;
  }

  .dropdown-menu {
    border-radius: 0;
    padding: 0;

    // Make the dropdowns not-absolute for mobile
    @media (max-width: 34em) {
      border: 0;
      position: static;
      float: none;

      &::before,
      &::after {
        content: none !important;
      }
    }

    .nav-item {
      margin-left: 0;
      float: none;
      display: block;
      margin-right: 0 !important;
      padding: 0;
      background: white;
    }

    .dropdown-item {
      padding: 10px 16px;
    }

    a {
      display: block;
    }

    // Dropdown menu's top arrow
    &::before {
      position: absolute;
      top: -7px;
      left: 9px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #CCC;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }

    &::after {
      position: absolute;
      top: -6px;
      left: 10px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      border-left: 6px solid transparent;
      content: '';
    }
  }

  @media (max-width: 34em) {
    height: auto;
  }
}
