#site-navigation {
  height: 90px;
  padding-top: 33px;

  a,
  a:hover,
  a:focus {
    color: #414447;
    text-transform: none;
  }

  .giving-item {
    a {
      color: #77d9aa;
      text-transform: uppercase;
    }
  }

  .nav.navbar-nav {
    padding: 0 30px;

    li {
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
