#site-navigation {
  // Container div

  height: 90px;

  padding-left: 80px;
  padding-right: 80px;

  @media (max-width: 1276px) {
    padding: .5rem 1rem;

    .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
      margin-right: 20px;
    }
  }

  a,
  a:hover,
  a:focus {
    color: #414447;
    text-transform: none;
  }

  .giving-item {
    a {
      color: #77d9aa;
      text-transform: uppercase;
    }
  }

  .navbar-brand {
    margin-top: 18px;

    img {
      width: 70px;
    }

    @media (max-width: 34em) {
      float: right;
      margin-right: 0;
      margin-top: 10px;
      width: 50px;
    }
  }

  .nav.navbar-nav {
    // Nav section w/ links

    margin-top: 25px;
    padding: 0 30px;

    li {
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 48em) {
        margin-right: 0;
        display: block;
        float: none;
        margin-left: 0;
        margin-bottom: 10px;
      }
    }

    @media (max-width: 34em) {
      padding-left: 20px;
    }
  }

  @media (max-width: 34em) {
    height: auto;
  }
}
