.splash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000000000;
  background: #d6d5d5;
  display: none;
  body.display-splash & { display: flex; }
  align-items: center;

  h2 {
    text-align: center;
    margin-bottom: 2em;
  }

  .cta {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .row {
    // position: relative;
    // top: 50%;
  }
}
