.about {
  .entry-title {
    display: none;
  }

  aside {
    text-transform: uppercase;
  }

  .center-block {
    text-align: center;
  }

  h1 {
    text-transform: none;
    color: $light-green;
    font-style: normal;
    font-size: 44pt;
    position: relative;
    padding: 34px 0;
    margin: 20px 0 140px;

    @mixin divider-line {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 40%;
      height: 2px;
      background: #d4d3d2;
      @content;
    }

    &:before {
      @include divider-line {
        top: 0;
      }
    }

    &:after {
      @include divider-line {
        bottom: 0;
      }
    }

    @media (max-width: 34em) {
      margin-bottom: 60px;
    }
  }

  .vertical-center {
    position: relative;
    height: 250px;

    > div,
    > em {
      position: absolute;
      top: 30%;
      transform: translateY(-30%);
    }

    @media (max-width: 34em) {
      height: 150px;

      > div,
      > em {
        position: static;
        transform: none;
      }
    }
  }

  .ben {
    width: 300px;
  }

  h3 {
    margin-top: 60px;
    font-size: 16pt;
    padding-bottom: 0;
    margin-bottom: 18px;
    color: $light-green;

    &:after {
      content: none;
    }
  }

  h4 {
    @include lato;
    font-style: normal;
    text-transform: uppercase;
    font-size: 13pt;
    margin: 0 0 8px;
  }

  .spacer {
    height: 35px;
  }

  .values {
    counter-reset: li;
    margin-top: 43px;
    margin-left: 0;
    padding-left: 0;

    > li {
      position: relative; /* Create a positioning context */
      margin: 0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
      padding: 4px 8px; /* Add some spacing around the content */
      list-style: none; /* Disable the normal item numbering */
      margin-bottom: 43px;

      &:before {
        font-size: 24px;
        counter-increment: li; /* Increment the counter by 1 */
        content: '0' counters(li, '.') '.'; /* Use the counter as content */
        /* Position and style the number */
        position: absolute;
        left: -50px;
        top: -2px;
        width:2em;
        margin-right: 8px;
        padding: 4px;
        color: #d9d8d7;
        font-weight: bold;
        text-align: center;
      }

      &:nth-child(5),
      &:nth-child(6) {
        strong {
          margin-left: 4px;
        }
      }
    }

    em {
      @include cardo;
      font-size: 22px;
    }

    strong {
      text-transform: uppercase;
      font-size: 18px;
    }
  }

  .beliefs-dropbackground {
    // The gray box thing.
    position: relative;

    &:before {
      content: "";
      background: #e5e5e5;
      right: 10%;
      left: 36%;
      top: 30%;
      position: absolute;
      height: 840px;
    }

    @media (max-width: 34em) {
      &:before {
        content: none;
      }
    }
  }

  .beliefs {
    h2 {
      margin-top: 250px;

      @media (max-width: 34em) {
        margin-top: 60px;
      }
    }

    h3 {
      color: $body-color;
      padding-bottom: 30px;

      &:after {
        content: "";
        display: block;
        height: 1px;
        width: 80px;
      }
    }
  }
}
