.upcoming-events {

}

.main-event {
  $padding-top: 80px;
  $offset: 80px;

  background: $inlay-gray;
  margin-top: 40px;
  padding-top: $padding-top;
  padding-bottom: $padding-top;

  .post-thumbnail {
    position: relative;
    top: -$padding-top - $offset;
  }
}

.event-snippets {
  position: relative;
  top: -150px;

  .event-snippet {
    margin-bottom: 40px;
  }
}

.event-detail {
  position: relative;
  top: -100px;

  .event-header {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #414447;
    color: white;

    h1 {
      color: white;
    }
  }
}
