.get-connected {
  .entry-header {
    display: none;
  }

  .title-2 {
    font-size: 22px;
  }

  .img-circle {
    position: relative;
    z-index: 1;

    @media (max-width: 34em) {
      height: auto;
    }
  }

  .full-width {
    position: relative;
    top: -80px;
    z-index: 0;
  }

  .volunteer {
    position: relative;
    top: -40px;

    .volunteer-ops {
      position: relative;
      top: -140px;
      margin-bottom: -100px;
    }

    @media (max-width: 34em) {
      top: 0;

      .volunteer-ops {
        top: 0;
        margin-bottom: 60px;
      }
    }
  }

  .epic-info-hero {
    position: relative;
    top: 44px;
    margin-bottom: -49px;

    @media (max-width: 34em) {
      top: 50px;
      margin-bottom: 0;
    }
  }

  .event-previews {
    .post-thumbnail {
      margin-bottom: 20px;
      display: block;
    }

    .heading {
      margin-top: 120px;

      @media (max-width: 34em) {
        margin-top: 40px;
      }
    }
  }
}