.get-connected {
  .entry-header {
    display: none;
  }

  .img-circle {
    height: 404px;
    position: relative;
    z-index: 1;
  }

  .full-width {
    position: relative;
    top: -80px;
    z-index: 0;
  }

  .volunteer {
    position: relative;
    top: -40px;

    .volunteer-ops {
      position: relative;
      top: -140px;
    }
  }

  .epic-info-hero {
    position: relative;
    top: 117px;
  }
}