.epic-groups {
  .entry-content {
    .row {
      > div {
        padding-left: 10%;
      }
    }

    .inlay {
      @media (max-width: 34em) {
        background: none;
      }
    }
  }

  #ctiframe {
    height: 2200px;
  }
}
