.media {
  .entry-header {
    display: none;
  }

  h2 {
    font-size: 50px;
  }
}

.main-media {
  $padding-top: 80px;
  $offset: 80px;

  background: $inlay-gray;
  margin-top: 100px;
  padding-top: $padding-top;
  padding-bottom: $padding-top;

  .post-thumbnail {
    position: relative;
    top: -$padding-top - $offset;
  }

  h2 {
    font-size: 50px;
  }

  @media (max-width: 34em) {
    margin-top: auto;
    padding-top: 0;
    background: none;

    .post-thumbnail {
      position: static;
      display: block;
    }
  }
}

.media-snippets {
  position: relative;
  top: -125px;

  .media-snippet {
    margin-bottom: 40px;
  }

  @media (max-width: 34em) {
    position: static;
  }
}

.media-detail {
  position: relative;
  top: -100px;

  .media-header {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #414447;
    color: white;

    h1 {
      color: white;
    }
  }

  @media (max-width: 34em) {
    top: -20px;
  }

  .body3 {
    color: #b3b4b5;
  }

  .sermon {
    border-bottom: 1px solid #f4f3f3;
    padding-top: 30px;
  }
}
