.partnerships {
  .square-img {
    position: relative;
    top: -220px;

    @media (max-width: 34em) {
      position: static;
    }
  }

  .picture-row {
    img {
      height: 350px;
    }
  }
}
