.sunday-gathering {
  .entry-content {
    h2 {
      color: $light-green;
    }
  }
  .time {
    position: relative;

    .service-time {
      &:first-child {
        margin-right: 150px;
      }
    }

    &:after {
      content: "";
      height: 150px;
      width: 2px;
      background: #e4e4e3;
      position: absolute;
      left: 49%;
      top: -30px;
      transform: rotate(45deg);
    }
  }

  .location {
    margin-top: 80px;
  }

  .social-links a {
    color: #373a3c;
  }
}
