.sunday-gathering {
  .entry-content {
    h2 {
      color: $light-green;
    }
  }

  .location {
    margin-top: 80px;

    @media (max-width: 34em) {
      margin-top: 40px;
    }
  }

  .social-links a {
    color: #373a3c;
  }
}
