.volunteering {
  .entry-content {
    h2 {
      color: $light-green;
      margin-bottom: 40px;
    }

    .other-opps {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;

      @media (max-width: 34em) {
        display: block;
      }

      img {
        height: 600px;

        @media (max-width: 34em) {
          margin-top: 20px;
          height: auto;
        }
      }
    }
  }
}